html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

.header {
	background-image: url("../images/nen-hoa-co.jpg");
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 150px;
}

.header h1 {
	color: white;
	text-align: center;
	padding-top: 3%;
	text-shadow: purple 3px 3px 3px;
}

.sidebar {
	background: url("../images/bg-mucluc.png") no-repeat;
	height: 570px;
	float: left;
	background-size: 100% 100%, contain;
	background-position: center, bottom;
	position: sticky;
}

.sidebar img {
	position: absolute;
}

.menu {
	color: white;
	list-style: none;
	font-weight: bold;
	text-align: center;
	font-style: italic;
	background-image: url("../images/nen-menu.png");
	background-size: 100% 100%, 100% 100%;
	background-position: center, bottom;
	padding: 80px 80px;
	font-size: 18px;
	margin-top: 0;
}

.menu li {
	margin-top: 5px;
	cursor: pointer;
	text-shadow: 2px 2px black;
}

.container {
	text-align: center;
	padding: 5px;
	padding-left: 255px;
}

.title {
	background-color: #feccff;
	padding: 20px;
	font-size: 45px;
	color: deeppink;
	margin: 10px;
}

.content {
	background-color: #fbfecd;
	padding: 5px 0px;
}

p {
	font-style: italic;
}

.p-1 {
	color: blue;
}

.p-2 {
	color: purple;
}

.p-3 {
	color: green;
}
