body{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   overflow: auto;
   height: 100vh;
   display: flex;
}

.bg-black{
   background-color: black;
   height: 100%;
   width: 60%;
   border: 1px solid white;
}

.bg-red{
   background-color: red;
   height: 100%;
   width: 40%;
}