.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: blue;
}

table,
tr,
td {
	border: 2px solid blue;
	border-collapse: collapse;
	padding: 10px 5px;
	background-color: #ffffcd;
	color: blue;
}

tr td:first-of-type {
	width: 250px;
}

tr td:last-of-type {
	width: 400px;
}

tr:first-of-type td:last-of-type input {
	width: 250px;
}

textarea {
	width: 90%;
	height: 100px;
}

select {
	width: 200px;
}

fieldset legend {
	text-align: start;
}

fieldset {
	width: fit-content;
	color: blue;
	font-weight: normal;
	margin: 0 auto;
}

td[colspan="2"] {
	text-align: center;
}

td[colspan="2"]:last-of-type {
	color: red;
	font-weight: bold;
}
