.container {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 12%;
}

.title {
	font-size: 30px;
}

.title span {
	color: blue;
	font-weight: 700;
}

.sub-title {
	font-size: 12px;
}

button {
	margin-top: 20px;
	padding: 20px;
	text-transform: uppercase;
	background-color: #2d3032;
	color: white;
	margin-left: 20px;
	border-radius: 8px;
}
